body{
    text-align: center;
    margin:0;
    
}
#mainpic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    margin-top: 200px;
    
}
#welcome{
    height: 300px;
    background: linear-gradient(#f0914d,#8bf04d,#4df0d3);
    width: 100%;
    display:table;
}
h1{
    font-size: 40px;
    line-height: 1.2;
    font-family:cursive;
    font-weight: 300;
    color: darkcyan;
}
#name{
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family:cursive;
    
}
h2{
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family:cursive;
}

.line{
    background-color: black;
    height: 6px;
    width: 100px;
    margin:8px auto;
}

p{
    max-width: 500px;
    margin:25px auto;
    line-height: 1.3;
    font-family: cursive;
    font-size: 20px;
}
.menu{
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
    z-index: 2;
    list-style: none;
}
  
.link{
    font-family: monospace;
    font-size: 20px;
    float:left;
    padding-left: 20px;
    padding-right: 20px;
    color: pink;

    
}

.link:hover{
    background-color:cyan;
    font-size: 30px;
}

a{
    text-decoration: none;
}

.article:hover{
    background-color: aqua;
    color: antiquewhite;
    font-size: 20px;
}

html{
    scroll-behavior: smooth;
}

#Hobbies{
    background-color:violet;
}

#work{
    background-color: aquamarine;
}

#Inspiration{
    background-color: coral;
}

img{
    width: 400px;
    height: 300px;
    transition: transform 0.5s;
}

img:hover{
    transform: scale(0.8);
}
